#clockContainer{
    position: relative;
    margin: auto;
    border: 2px solid aqua;
    height: 40vw;
    width: 40vw;
    background: url(clock1.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 18%;
    top: 32%;
    left: 49.36%;
    opacity: 0.8;
    
    
}

#minute{
    width: 1.4%;
    height: 27%;
    top: 23%;
    left: 49.55%;
    opacity: 0.8;
    
    
}

#second{
    width: 0.8%;
    height: 35%;
    top: 15%;
    left: 49.91%;
    opacity: 0.8;
    
}
